@model IEnumerable<Practica_TiendaVirtual.Pedido>

@using Microsoft.AspNet.Identity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Pedidos";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pedidos</title>
</head>
<body>
    <h1> Hola @User.Identity.GetUserName() , estos son tus pedidos: </h1>
    <hr />
    <p id="details">
        @if (User.Identity.Name.Equals("admin@admin.com"))
    {
        @Html.ActionLink("Nuevo pedido", "Create", null, null, new { @class = "btn btn-info" })
}
        @Html.ActionLink("Ver productos", "Index", "Productos", null, new { @class = "btn btn-primary" })


    </p>
    <table class="table table-hover">
        <tr>
            <th>
                Número de pedido
            </th>
             @if (User.Identity.Name.Equals("admin@admin.com"))
                {
            <th>
                Usuario
            </th>                   
                }       
            <th>
                @Html.DisplayNameFor(model => model.Productos)
            </th>
            <th>
                Número de productos
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (User.Identity.Name.Equals("admin@admin.com"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                    </td>                  
                    <td>
                        @{
                            if (item.Productos != null)
                            {
                                string[] productos = item.Productos.Split(';');
                                for (int i = 1; i < productos.Length; i++)
                                {
                                    <img src="~/Resources/@(productos[i]).jpg" width="50" />
                                }
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalProductos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrecio) €
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", null, new { id = item.Id }, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Ver detalles", "Details", null, new { id = item.Id }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Cancelar", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>

            }
            else
            {
                if (item.AspNetUser.Id.Equals(@User.Identity.GetUserId()))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @{
                                if (item.Productos != null)
                                {
                                    string[] productos = item.Productos.Split(';');
                                    for (int i = 1; i < productos.Length; i++)
                                    {
                                        <img src="~/Resources/@(productos[i]).jpg" width="50" />
                                    }
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalProductos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalPrecio) €
                        </td>
                        <td>                       
                            @Html.ActionLink("Ver detalles", "Details", null, new { id = item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Cancelar", "Delete", null, new { id = item.Id }, new { @class = "btn btn-danger" })

                        </td>
                    </tr>
                }
            }
        }
    </table>
</body>
</html>
